.git
.gitignore
.gitattributes
.editorconfig
node_modules
.env
.env.backup
.env.example
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.md
!README.md
!DEPLOYMENT.md
emdeefiles
tests
.vscode
.idea
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
docker-compose.yml
Dockerfile
.dockerignore
*.log
.DS_Store
Thumbs.db
